* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

body {
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
  background: #000;
  height: 100%;
  scroll-snap-type: y mandatory;
}

/* Make all sections snap */
#home,
#aliens,
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100vh;
}